{% extends 'layout.html' %}

{% block title %} {{ title }} {% endblock %}

    {% block content %}
        <h4>Galeri</h4>
        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="/galeri">Galeri</a></li>
        </ul>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename = 'img/ratuboko.jpg') }}" style="height:250px ;">
                        <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi etiam dignissim diam quis. Ipsum a arcu cursus vitae congue mauris rhoncus. Dolor morbi non arcu risus quis varius quam. Tristique et egestas quis ipsum suspendisse.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename = 'img/malioboro.jpg') }}"  style="height:250px ;">
                        <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi etiam dignissim diam quis. Ipsum a arcu cursus vitae congue mauris rhoncus. Dolor morbi non arcu risus quis varius quam. Tristique et egestas quis ipsum suspendisse.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename = 'img/tugujogja.jpg') }}"  style="height:250px ;">
                        <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi etiam dignissim diam quis. Ipsum a arcu cursus vitae congue mauris rhoncus. Dolor morbi non arcu risus quis varius quam. Tristique et egestas quis ipsum suspendisse.</p>
                        </div>
                    </div>
                </div>
              
            </div>
         </div>
    {% endblock %}